{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex justify-content-start">
      <img class="card userAvatar-img userAvatar-white m-2" width="110" height="110" src="{% static "img/logo.png" %}" alt="Tommy">
    </div>
    <div class="d-flex justify-content-center">
          <a class="navbar-brand text-uppercase m-2" href="{{ request.scheme }}://{{ request.get_host }}">WakeUpDenmark</a>
    </div>
    <div class="d-flex justify-content-end">

     <a href="#" class="nav-link text-info text-black text-uppercase text-decoration-underline" data-bs-toggle="modal" data-bs-target="#inquiryModal">Contact</a>
    </div>
  </div>
</nav>



     <a href="#" class="nav-link text-info text-black text-uppercase text-decoration-underline" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true"
        title='<img class="card userAvatar-img userAvatar-white m-2" width="110" height="110" src="https://getbootstrap.com/apple-touch-icon.png" alt="Tommy">'>About</a>
