#header {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background: #499cee;
    color: #ffc;
    overflow: hidden;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #ffffff;
}

#header a, #branding a {

    color: #eeeeee;
}

a:hover {

    color: #8baad8;
}